/* hero.css */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: white;
  margin: 10px 0;
  font-family: sans-serif;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(46, 204, 113, 0.8);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
}
.container {
  text-align: center;
  padding: 20px;
}
.button:hover {
  background-color: #25a15b;
  transform: scale(1.05);
}
/*#2ecc71*/
.Hero {
  animation: fadeIn 1.5s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
